* {
	box-sizing: border-box;
}
body, 
h1,
h2,
h3,
h4,
a,
p,
ul {
	margin: 0;
	font-family: "Trebuchet MS";
	color: #565656;
}

.section-main{
	display: flex;
	justify-content: center;
	align-items: center;
}

.container{
	margin: 0 auto;
	width: 800px;
}

.purchase-title{
	line-height: 40px;
	padding: 20px;
}

.title{
	font-size: 40px;
	font-weight: 900;
	color: #000102;
}


.purchase-content{
	display: flex;
	flex: start;
}

.choice{
	width: 205px;
	min-height: 50px;
	margin: 0 3px;
	padding: 12px;
	background-color: #f4f0ef;
	border: 1px solid #e8e7e5;
}

.furniture-title{
	font-size: 13px;
	color: #000102;
}